.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown > div {
  margin: 20px;
  border: solid 1px lightgray;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  padding: 20px;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frame .value {
  text-align: center;
  font-size: x-large;
}

.frame .unit {
  text-align: center;
  color: lightgray;
}